extends layout

block content
    .jumbotron
        .container
            h1 How may I help you?
            p You can now do many things on this website. It can allow you to contact me if you would like to do so through the nodemailer application.
            a.btn.btn-primary.btn-lg(href='#') Learn More &raquo;
    .container
        .row
            .col-md-4
                h2 About Us
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text
                a.btn.btn-default(href='#') View Details
            .col-md-4
                h2 Services
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text 
                a.btn.btn-default(href='#') View Details
            .col-md-4
                h2 Get In Touch
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever
                a.btn.btn-default(href='#') View Details